div#converter{
    width: 960px;
}

div#converter div#toolbar {
    border: 1px solid #ccc;
    border-bottom: 0;
    width: 960px;
}

div#converter #editMe {
    width:960px;
    height: 500px;
    background-color: white;
    border: 1px solid #ccc;  
}

div#converter .about-img{
    background: transparent url(../img/info.png) no-repeat;
    width: 20px;
    height: 20px;
}

div#converter div#msg{
    width: 360px;
    border: 1px solid #eee;
    background: #000;
    opacity: .6;
    color: #fff;
    padding: 10px;
    position: absolute;
    margin-top: 15px;
    margin-left: -370px;       
    box-shadow: -3px 3px 3px #333;      
}

div#converter div#msg p{
    text-align: justify; 
}

div#converter div#msg a{
    color: #e2a81b;
    text-decoration: none;
}

div#converter div#msg a:hover{
    text-decoration: underline;  
}

div#converter div#msg h3{
    color: #fff;
}

/* google pallete */
.goog-palette-colorswatch {
	position: relative;
	height: 18px;
	width: 18px;
	font-size: x-small;
}

.goog-palette-cell-hover .goog-palette-colorswatch {
	height: 16px;
	width: 16px;
	border: 1px solid #FFF;
}

.goog-palette-cell-selected .goog-palette-colorswatch {
	height: 16px;
	width: 16px;
	border: 1px solid #333;
	color: #fff;
	font-weight: bold;
	background-image: url(../images/color-swatch-tick.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.goog-palette-customcolor {
	position: relative;
	height: 16px;
	width: 16px;
	font-size: x-small;
	background-color: #FAFAFA;
	color: #666;
	border: 1px solid #EEE;
}

.goog-palette-cell-hover .goog-palette-customcolor {
	background-color: #FEE;
	border: 1px solid #F66;
	color: #F66;
}

/* goog-menu override */
.goog-menu{
	box-shadow: 0 0 5px 0 #000;
	padding: 0 !important;
	border-color: #ccc !important;
}